* {
  font-family: Montserrat;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}
h1 {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;

  color: #ffffff;
}
h2 {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 300px;
  line-height: 366px;
  display: flex;
  align-items: center;
  text-shadow: -1px 0 #2f80ed, 0 1px #2f80ed, 1px 0 #2f80ed, 0 -1px #2f80ed;
  color: #171717;
}
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 42px;
  color: #01b5ff;
  margin: 0;
}
p {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */

  color: #d3d3d3;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  overflow-x: hidden;
  margin: 0;
  background: url(../images/bg-1.png) no-repeat,
    url(../images/bg-2.png) no-repeat right 50%,
    url(../images/Ellipse\ 1.png) no-repeat 0% 16%,
    url(../images/Ellipse\ 2.png) no-repeat 100% 3%,
    url(../images/Ellipse\ 3.png) no-repeat 100% 25%,
    url(../images/Ellipse\ 4.png) no-repeat 0% 65%,
    url(../images/Ellipse\ 5.png) no-repeat 100% 100%, #171717;
}
main {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px 0;
  background: rgba(23, 23, 23, 0.7);
}
.logo {
  display: flex;
}
.logo img {
  height: 50px;
}
.nav-menu {
  display: flex;
  padding-right: 25%;
}
.nav-menu-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  margin-right: 32px;
  color: #ffffff;
}
.banner-sec {
  display: flex;
  justify-content: center;
}
.banner-text {
  padding-top: 156px;
  max-width: 692px;
  background: url(../images/cubes.png) no-repeat right 10%;
}
.banner-text h1 {
  margin-bottom: 16px;
}
.banner-text p {
  margin-bottom: 32px;
}
button {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}
button.web-master {
  color: #e66161;
  background: url(../images/Line\ 1.svg) no-repeat bottom left;
  margin-right: 36px;
}
button.advertiser {
  color: #01b5ff;
  background: url(../images/Line\ 2.svg) no-repeat bottom left;
}
.advantages-wrap {
  margin-top: 82px;
}
.advantages-sec {
  display: flex;
  flex-direction: column;
  background: url(../images/why_us.png) no-repeat 2% 2.2%;
  margin-bottom: 235px;
}
.advantages-sec h1 {
  margin-top: 68px;
  max-width: 666px;
}
.advantages-item {
  display: flex;
  width: max-content;
  position: relative;
  left: 190px;
  padding-right: 40%;
  background: url(../images/Own-mediabang-department.png) no-repeat 96% 50%;
  background-size: 20%;
}
.advantages-item:nth-child(2n) {
  left: -5310px;
  padding-right: 0;
  padding-left: 40%;
  background: url(../images/own-funnels.png) no-repeat 17% 49%;
  background-size: 20%;
}
.advantages-item:nth-child(3) {
  background: url(../images/Large-selection-of-offers.png) no-repeat 97% 49%;
  background-size: 20%;
}
.advantages-item:nth-child(4) {
  left: -4600px;
  background: url(../images/High-Envelope.png) no-repeat 20% 48%;
  background-size: 20%;
}
.advantages-text__hidden {
  display: flex;
  flex-direction: column;
  margin-left: 540px;
}
.advantages-item:nth-child(1) .advantages-text__hidden {
  margin-left: 510px;
}
.advantages-item:nth-child(2n) .advantages-text__hidden {
  margin-right: 800px;
}
.advantages-item:nth-child(3) .advantages-text__hidden {
  margin-left: 1460px;
}
.advantages-item:hover {
  left: -5356px;
  transition: 1.1s;
}
.advantages-item::-webkit-scrollbar {
  display: none;
}
.advantages-item h3 {
  margin-top: 170px;
  margin-bottom: 32px;
}
.advantages-item p {
  max-width: 753px;
}
.advantages-item:nth-child(2n):hover {
  left: -855px;
}
.referral-sec {
  display: flex;
  margin-bottom: 246px;
  background: url(../images/loyality.png) no-repeat 100% 10%;
}
.referral-img {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.referral-text h1 {
  text-align: right;
  margin-bottom: 46px;
}
.referral-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-left: 210px;
}
.referral-text p {
  max-width: 351px;
}
section.registration-sec {
  display: flex;
  margin-bottom: 164px;
}
.registration-form {
  display: flex;
  border-radius: 60px;
  background: linear-gradient(102.12deg, #171717 31.46%, #2f80ed 125.36%);
}
.registration-block {
  display: flex;
  flex-direction: column;
  padding-left: 64px;
}
.registration-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration-img img {
  border-radius: 60px;
}
.registration-block h1 {
  margin-top: 101px;
}
.registration-block p {
  margin-top: 19px;
}
.registration-block .btn-block {
  margin-top: 47px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 43px 0 42px;
}
.phone-number {
  display: flex;
  align-items: center;
}
.phone-number a {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 50px;
  margin-left: 12px;
}
.banner-img img {
  position: relative;
  left: -890px;
  top: 890px;
  transition: 1.1s;
}

body:hover .banner-img img {
  left: 0;
  top: 0;
}
